---
layout: default
title: Michiel Overeem's blog
---

{% for post in paginator.posts %}
    <h2 class="entry-title">
      <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </h2>
    <p>
      <span>
          Placed on 
          {{ post.date | date: "%d %B %Y" }}
          about 
          {% for category in post.categories %}
          <a href="/topic.html#{{ category }}" title="{{ category }}" rel="topic tag">{{ category }}</a>
          {% endfor %}
      </span>
    </p>
    <div>
      {{ post.content }}
    </div>
    <p>
      <span></span>
      <span></span>
    </p>
{% endfor %}

<div class="pagination">
  <span class="previous">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
      <a href="/blog.html" title="Previous Page">&laquo; Previous</a>
      {% else %}
      <a href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Previous</a>
      {% endif %}
    {% endif %}
  </span>
  <span class="next">
    {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}/" title="Next Page">Next &raquo;</a>
    {% endif %}
  </span>
</div>