---
layout: summary
title: Posts by topic
---

<div class="topiclist">
{% for category in site.categories %}
<a href="#{{ category[0] }}">{{ category[0] }} ({{ category | last | size }})</a>
{% endfor %}
</div>

{% for category in site.categories %}
<h2><a name="{{ category[0] }}">{{ category[0] }}</a></h2>
<ul class="postlist">
    {% for post in category[1] %}
    <li>
        <span class="date">{{ post.date | date: "%d %B %Y" }}</span>
        <a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}