<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <head>

        <meta charset="utf-8">
        <meta name="description" content="blog.movereem.nl">
        <meta name="author" content="Michiel Overeem">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
        <link rel="stylesheet" href="/css/base.css">
        <link rel="stylesheet" href="/css/skeleton.css">
        <link rel="stylesheet" href="/css/layout.css">

        <link href="/css/shCore.css" rel="stylesheet" type="text/css" />
        <link href="/css/shThemeMidnight.css" rel="stylesheet" type="text/css" />

		<title>{{ page.title }}</title>

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="images/favicon.ico">
        <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

        <link rel="me" type="text/html" href="http://profiles.google.com/overeemm?rel=me"> 
        <link rel="me" type="text/html" href="http://twitter.com/michielovereem"> 
        <link rel="me" type="text/html" href="http://nl.linkedin.com/in/movereem"> 

        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-7178740-2']);
          _gaq.push(['_setDomainName', 'movereem.nl']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>

	</head>
	<body>

        <div class="container">
            <div class="sixteen columns">
                <h1 class="remove-bottom siteheader"><a href="/">{{ site.title }}</a></h1>
                <div class="contact">
                    <a class="icons rss" title="Atom feed" href="/atom.xml"></a>
                    <a class="icons twitter" title="follow me on twitter" href="http://twitter.com/michielovereem"></a>
                    <a class="icons plus" title="Google+" href="https://profiles.google.com/overeemm"></a>
                    <a class="icons linkedin" title="LinkedIn" href="http://nl.linkedin.com/in/movereem"></a>
                </div>
                <hr />
            </div>
            <div class="seven-ninth column">
        		{{ content }}
            </div>
            <div class="two-ninth column">
                <h3>About Michiel</h3>
                <p class="about">
                    <img src="/images/apple-touch-icon.png" alt="Michiel Overeem" class="avatar"/>
                    Geek, software developer, books, JavaScript, .NET, agile.
                </p>
                
                <ul id="twitter_update_list"></ul>
                <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
                <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/michielovereem.json?callback=twitterCallback2&count=1"></script

                <p>                             
                    <a href="https://twitter.com/michielovereem" class="twitter-follow-button" data-show-count="true">Follow @michielovereem</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </p>
                
                <h3>Archives</h3>
                <p>
                  <ul>
                    <li><a title="View posts by date" href="/date.html">by date</a></li>
                    <li><a title="View posts by topic" href="/topic.html">by topic</a></li>
                  </ul>
                </p>
                
                <h3>React</h3>
                <p>
                    I have decided to not use comments on my blog. 
                    You are welcome to react on google+ or twitter.
                </p>
            </div>

            <div class="sixteen columns footer">
                <hr />
                <span class="copyright">&copy; Copyright 2012 Michiel Overeem</span>
                <span class="hosted">Hosted on <a href="http://pages.github.com/">github pages</a></span>
                <span class="build">Build with <a href="https://github.com/mojombo/jekyll/">Jekyll</a></span>
                <span class="fork"><a href="https://github.com/overeemm/overeemm.github.com">Fork me</a></span>

              <div id="creativecommons">
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" title="Creative Commons License" src="http://www.hanselman.com/blog/themes/TheRightStuff2/images/cc88x31.png"/></a>
                <!--
                <rdf:RDF xmlns="http://creativecommons.org/ns#"
                  xmlns:dc="http://purl.org/dc/elements/1.1/"
                  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
                <Work rdf:about="">
                <license rdf:resource="http://creativecommons.org/licenses/by-nc-sa/3.0/" />
                </Work>
        
                <License rdf:about="http://creativecommons.org/licenses/by-nc-sa/3.0/">
                   <requires rdf:resource="http://creativecommons.org/ns#Attribution" />
                   <permits rdf:resource="http://creativecommons.org/ns#Reproduction" />
                   <permits rdf:resource="http://creativecommons.org/ns#Distribution" />
                   <permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
                   <requires rdf:resource="http://creativecommons.org/ns#ShareAlike" />
                   <prohibits rdf:resource="http://creativecommons.org/ns#CommercialUse" />
                   <requires rdf:resource="http://creativecommons.org/ns#Notice" />
                </License>
        
                </rdf:RDF>
                -->
              </div>            
            </div>
        </div>
    
        <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

        <script src="/scripts/shCore.js" type="text/javascript"></script>
        <script src="/scripts/shAutoloader.js" type="text/javascript"></script>

        <script type="text/javascript">
        
        $('code').each(function () {
            var $codeBlock = $(this);
            var $preBlock = $codeBlock.parent("pre");
            if($preBlock.length === 1){
                var lines = $codeBlock.text().split(/\r\n|\r|\n/);
                var firstLine = lines[0];
                // Something like #js
                $preBlock.addClass("brush: "+firstLine.substring(1));
                $preBlock.html(lines.slice(1).join("\n"));
            }
        });
        
        SyntaxHighlighter.autoloader(
            'js jscript javascript  /scripts/shBrushJScript.js',
            'applescript            /scripts/shBrushAppleScript.js',
            'c# c-sharp csharp      /scripts/shBrushCSharp.js',
            'java                   /scripts/shBrushJava.js',
            'xml xhtml xslt html    /scripts/shBrushXml.js',
            'ruby rails ror rb      /scripts/shBrushRuby.js',
            'css                    /scripts/shBrushCss.js'
        );
         
        SyntaxHighlighter.all();
        </script>

    </body>
</html>