<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>
    <!-- and it's easy to individually load additional languages -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/languages/go.min.js"></script>

    <script type="text/javascript">

      $('code').each(function () {
        var $codeBlock = $(this);
        var $preBlock = $codeBlock.parent("pre");
        if($preBlock.length === 1) {
          var lines = $codeBlock.text().split(/\r\n|\r|\n/);
          var firstLine = lines[0];
          if(firstLine.indexOf('#') === 0) {
            // Something like #js
            $codeBlock.addClass("language-"+firstLine.substring(1));
            $preBlock.html(lines.slice(1).join("\n"));
          }
        }
      });
  
      hljs.highlightAll();
    </script>
  </body>
</html>
